<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>수료자 추가하기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
            </div>
            <div class="col-md-3 mb-2 mb-md-0">
                <img src="/img/logo.png" class="rounded mx-auto d-block" alt="">
            </div>
            <div class="col-md-3 text-end">
            </div>
        </header>
    </div>
    <div class="container" style="padding-top: 10px; width: fit-content">
        <h2 style="text-align: center; font-weight: bold">캠프 수료자 등록하기</h2>
        <form action="/members/new" method="post">
            <div class="form-group" style="margin-top: 20px;">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" required>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label for="studentid">학번</label>
                <input type="text" class="form-control" id="studentid" name="studentid" placeholder="학번을 입력하세요" required>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label for="cname">캠프이름</label>
                <input type="text" class="form-control" id="cname" name="cname" placeholder="캠프이름을 입력하세요" required>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label for="department">학부</label>
                <input type="text" class="form-control" id="department" name="department" placeholder="학부를 입력하세요" required>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label for="startdate">캠프 기간</label>
                <div class="row">
                    <div class="col">
                        <input type="date" class="form-control" id="startdate" name ="startdate" required>
                    </div>
                    <div class= "col">
                        <input type= "date"class= "form-control"id= "enddate"name= "enddate" required>
                    </div>
                </div>
            </div>
            <div class="container d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-primary" style="margin-top: 20px; width: 80px;" type="submit">등록</button>
            </div>
        </form>
    </div>

</body>
</html>