<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>학번</th>
        <th>캠프명</th>
        <th>학부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.studentid}"></td>
        <td th:text="${member.cname}"></td>
        <td th:text="${member.department}"></td>
        <td><button id="pdfDownloadButton" data-id="${member.id}" th:onclick="'downloadPdf(' + ${member.id} + ')'" >Pdf 다운로드</button></td>

        <script>
          function downloadPdf(memberId) {
            var url = "/generatePdf?id=" + memberId;
            window.location.href = url;
          }
        </script>


      </tr>
      </tbody>

    </table>

  </div>

</body>
</html>